@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --my-color: #252b30;
  }
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
}

h3,
p,
button,
a,
span {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}
